
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.donateitem{
    width: 50px;
}

.btn{
    color: aliceblue;   
    
        background-color: #4CAF50 ;
        border: none;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
        border: none;
}