*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  background: #f1f1f1;
  grid-area: header;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
  /* margin-top: -10px; */
}
.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar_left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar_left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
  font-size: larger;
  margin-left: 5%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.sidebar__logout  {

  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-top: 10px;
  font-size: 18px;

}

@media only screen and (max-wight: 768px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 768px) {
  .navbar__left {
    display: none;
  }
}
