* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* button styling */

.ButtonUI {
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  margin-right: 20px;
  margin-left: 20px;
}

.G-green {
  color: white;
  background-color: #0f9d58;
}

.small {
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
}

.ButtonUI.G-green:hover {
  cursor: pointer;
  background-color: #0d8c4f;
}

.G-blue {
  color: white;
  background-color: #4285f4;
}

.ButtonUI.G-blue:hover {
  cursor: pointer;
  background-color: #336ac4;
}

.G-red {
  color: white;
  background-color: #db4437;
}

.ButtonUI.G-red:hover {
  cursor: pointer;
  background-color: #b0362c;
}

.G-yellow {
  color: white;
  background-color: #f4b400;
}

.ButtonUI.G-yellow:hover {
  cursor: pointer;
  background-color: #d19b02;
}

.ata-teal {
  color: white;
  background-color: #04837b;
}

.ButtonUI.ata-teal:hover {
  cursor: pointer;
  background-color: #005e58;
}

.ata-orange {
  color: white;
  background-color: #ffa600;
}

.ButtonUI.ata-orange:hover {
  cursor: pointer;
  background-color: #db8f00;
}
